body {
  background-color: rgb(7, 7, 24);
  font-family: "Trebuchet MS", sans-serif;
  padding: 15px;
  margin: 15px;
}
/**********************MAIN BODY*********************/
img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-top: 13px;
  margin-left: 40px;
  vertical-align: middle;
}

a.Email {
  margin-left: 13px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, rgb(0, 60, 255), rgb(255, 0, 238));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border: none;
  cursor: pointer;
}

a.Projects,
a.Services,
a.Resume,
a.Skills {
  border-radius: 0px 20px 0px 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(22, 14, 7);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

a.Services {
  margin-left: 470px;
}
a.Projects:hover,
a.Services:hover,
a.HireMe:hover,
a.Resume:hover,
a.Skills:hover {
  background-color: rgb(18, 34, 61);
}

.MainBody {
  background-color: rgb(22, 14, 7);
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
}

.DP {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 10px;
  width: 350px;
  height: 350px;
}
.DP:hover {
  transition: 0.3s;
}
.DP:hover-box {
  transform: translateY(-3px);
}
.Caption {
  font-size: 20px;
  color: white;
  margin-left: 40px;
  margin-top: 10px;
}

.Introduction {
  font-size: 57px;
  color: white;
  margin-left: 40px;
  margin-top: 30px;
}
.Intro-Buttons {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  margin-left: 40px;
}

.Twitter {
  width: 40px;
  height: 40px;
  fill: rgb(60, 43, 27); /* This line sets the color */
}
.Upwork {
  width: 40px;
  height: 40px;
  fill: rgb(60, 43, 27); /* This line sets the color */
}
.Linked-In {
  width: 40px;
  height: 40px;
  fill: rgb(60, 43, 27); /* This line sets the color */
}
.Personal-Website {
  width: 40px;
  height: 40px;
  fill: rgb(60, 43, 27); /* This line sets the color */
}
.HireMe {
  border-radius: 0px 20px 0px 20px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(60, 43, 27);
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
/**********************MAIN BODY*********************/
/**********************Section=Skills*********************/
.MySkills {
  font-size: 70px;
  color: beige;
  margin-left: 510px;
}
section.Skills {
  background-color: rgb(22, 14, 7);
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 80px;
}
.HTML {
  width: 130px;
  height: 130px;
  fill: rgb(255, 111, 0);
  margin: 20px 20px;
  margin-left: 15px;
}
.CSS {
  width: 130px;
  height: 130px;
  fill: rgb(0, 128, 255);
  margin: 20px 20px;
}
.Wordpress {
  width: 130px;
  height: 130px;
  fill: rgb(255, 255, 255);
  margin: 20px 20px;
}
.BootStrap {
  width: 130px;
  height: 130px;
  fill: rgb(162, 0, 255);
  margin: 20px 20px;
}
.JavaScript {
  width: 130px;
  height: 130px;
  fill: rgb(255, 230, 0);
  margin: 20px 20px;
}
.MySql {
  width: 130px;
  height: 130px;
  fill: rgb(255, 106, 0);
  margin: 20px 20px;
}
.Figma {
  width: 130px;
  height: 130px;
  fill: rgb(255, 0, 0);
  margin: 20px 20px;
}
/**********************Section=Skills*********************/

/**********************Section=DETAILS ABOUT ME***********/
/**********************SPECIAL ADJUSTMENTS SPECIALLLLL***********/
.details-div-box {
  display: flex;
  justify-content: space-between;
}
.About-box,
.Education-box {
  background-color: rgb(22, 14, 7);
  border-radius: 20px;
  margin-top: 50px;
  margin-right: 5px;
}
.hover-box {
  background-color: rgb(22, 14, 7);
  transition: 0.3s ease;
}
.hover-box:hover {
  transform: translateY(-15px);
}
/**********************SPECIAL ADJUSTMENTS SPECIALLLLL***********/

/************GOALS************/
.About-box:hover {
  transition: 0.5s ease;
}
.Goals-HEADING {
  font-size: 70px;
  font-family: Times New Roman;
  color: beige;
  margin-left: 240px;
}
.my-goals-DESCRP {
  color: beige;
  max-width: 800px;
  text-align: left;
  margin-top: 20px;
  margin-left: 19px;
  font-family: Trebuchet MS;
  font-size: 18px;
}
/************GOALS************/
/************EDUCATION************/

.Education-HEADING {
  color: beige;
  max-width: 800px;
  text-align: center;
  margin-top: 50px;
  margin-left: 30px;
  font-family: Times New Roman;
  font-size: 70px;
}
.Education-DESCRP {
  color: beige;
  max-width: 800px;
  text-align: left;
  margin-top: 20px;
  margin-left: 19px;
  font-family: Trebuchet MS;
  font-size: 18px;
}
.Education-box:hover {
  transition: 0.5s ease;
}
/************EDUCATION************/
.Specialization-Section {
  background-color: rgb(22, 14, 7);
  border-radius: 20px;
  margin-right: 5px;
}
.Specialization-Heading {
  font-size: 70px;
  font-family: Times New Roman;
  color: beige;
  margin-left: 240px;
  margin-top: 25px;
}
.Specialization-DESCRP {
  color: beige;
  max-width: 800px;
  text-align: left;
  margin-top: 20px;
  margin-left: 19px;
  font-family: Trebuchet MS;
  font-size: 18px;
}
